<h2>{{ this.title }}</h2>

<form [formGroup]="this.formMovie" (ngSubmit)="sendForm()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Nombre de la película"
      formControlName="name"
    />

    <small
      class="invalid"
      *ngIf="
        this.formMovie.get('name')?.errors?.required &&
        this.formMovie.get('name')?.touched
      "
    >
      El nombre es requerido
    </small>
  </div>

  <div class="form-group">
    <label>Tipo</label>

    <select class="custom-select" formControlName="type">
      <option value="Otros" selected>Otros</option>
      <option value="Terror">Terror</option>
      <option value="Comedia">Comedia</option>
      <option value="Amor">Amor</option>
    </select>

    <small
      class="invalid"
      *ngIf="
        this.formMovie.get('type')?.errors?.required &&
        this.formMovie.get('type')?.touched
      "
    >
      El tipo es requerido
    </small>
  </div>

  <div class="form-group">
    <label for="releaseDate">Fecha de estreno</label>
    <input
      type="date"
      class="form-control"
      id="releaseDate"
      formControlName="releaseDate"
    />

    <small
      class="invalid"
      *ngIf="
        this.formMovie.get('releaseDate')?.errors?.required &&
        this.formMovie.get('releaseDate')?.touched
      "
    >
      La fecha de estreno es requerida
    </small>
  </div>

  <div class="form-group">
    <label for="amountPublic">Cantidad de público</label>
    <input
      type="number"
      class="form-control"
      id="amountPublic"
      formControlName="amountPublic"
    />

    <small
      class="invalid"
      *ngIf="
        this.formMovie.get('amountPublic')?.errors?.required &&
        this.formMovie.get('amountPublic')?.touched
      "
    >
      La cantidad de público es requerida
    </small>

    <small
      class="invalid"
      *ngIf="
        this.formMovie.get('amountPublic')?.errors?.min ||
        this.formMovie.get('amountPublic')?.errors?.max
      "
    >
      La cantidad de público debe ser mínimo 10 y máximo 50
    </small>
  </div>

  <div class="form-group">
    <label for="image">Foto de película</label>
    <input
      type="text"
      class="form-control"
      id="image"
      placeholder="URL de la imagen"
      formControlName="image"
    />

    <small
      class="invalid"
      *ngIf="
        this.formMovie.get('image')?.errors?.required &&
        this.formMovie.get('image')?.touched
      "
    >
      La foto de película es requerida
    </small>
  </div>

  <div class="form-group text-center">
    <img
      *ngIf="this.formMovie.get('image')?.value !== ''"
      [src]="this.formMovie.get('image')?.value"
      alt="Url invalid"
      width="300px"
    />
  </div>

  <hr />

  <div class="form-group">
    <label class="form-label">Actor (Elija de la lista)</label>

    <div class="row" *ngIf="this.selectedActor">
      <div class="col">
        <label class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          disabled
          placeholder="Nombre del actor"
          [value]="this.selectedActor?.name"
        />
      </div>

      <div class="col">
        <label class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          disabled
          placeholder="Apellido del actor"
          [value]="this.selectedActor?.lastName"
        />
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="this.formMovie.invalid || !this.selectedActor"
  >
    Crear
  </button>
</form>
