<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Lista de Actores</h1>

    <app-spinner [isLoading]="!this.actorsList"></app-spinner>

    <div class="table-scroll table-responsive" *ngIf="this.actorsList">
      <table class="table table-dark text-center">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Pais natal</th>
            <th>Detalle</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let actor of this.actorsList">
            <td class="actor-td">{{ actor.name }}</td>
            <td
              class="actor-td"
              (click)="selectActorNacionality(actor.nacionality)"
            >
              <img
                [src]="actor.nacionality.flag"
                alt="Actor nacionality Image"
                width="70"
                height="40"
              />
            </td>
            <td>
              <button
                class="btn btn-primary btn-block"
                (click)="selectActor(actor)"
              >
                Detalle
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
